<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="757152b3-91f2-4759-ac58-99903aa56b36"
            Publisher="CN=ahmed_000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>TimeTravel</DisplayName>
    <PublisherDisplayName>ahmed_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="TimeTravel.App">
        <VisualElements
            DisplayName="TimeTravel"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="TimeTravel"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>